* {
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#header {
  text-align: center;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  background-color: #fff;
  padding: 0.5rem 1.25rem;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  cursor: pointer;
}

.table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
